

    <div class="form-group" style="width: 300px;">
<select  class="form-control custom-select" style="margin-left:5%">
    {% for i in  delegations %}
    <option selected style="text-align:center;">{{i.nom}}   <p><i class="nav-icon fas fa-edit"></i></p></option>
    {% endfor %}

</select>




