{% extends 'base.html.twig' %}
{% block body %}
    <h1> Ajouter une Billet </h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}

    <a class="btn btn-danger" href="{{ path('listbill') }}"> Go TO List </a>

{% endblock %}