{% extends 'base.html.twig' %}
 {% block title %}
      Liste des Reservations
 {% endblock %}

 {% block body %}
     {% for message in app.flashes('info') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     <h1 style="margin-left:300px;text-align:center"><strong style="color:blue">Liste des reservations</strong></h1>
     <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Nom">
     </div>
     <table border="1" class="table text-nowrap table-bordered table-striped" style="width:700px;height:90px;margin-top:1%;margin-left:100px">
    <tr>
        <th scope="row">ID</th>
        <th scope="row">Date Reservation</th>
        <th scope="row">Heure Reservation</th>
        <th scope="row">Statut</th>
        <th scope="row">Cout</th>


    </tr>
    <tbody id="all">
         {% include 'reservation/ResAjax.html.twig' %}
    </tbody>
</table>
    <div style="margin-left:300px;"> <a class="btn-info" href="{{path('newreservation')}}"> Ajouter une nouvelle Reservation </a>
    </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script>
         $( document ).ready(function() {
             var currentRequest = null;
             $("#search").keyup(function(e){

                 var value = $(this).val();
                 if(currentRequest != null) {
                     currentRequest.abort();
                 }

                 currentRequest = $.ajax({

                     url : "{{ path('searchres') }}",
                     type : 'GET',
                     data: {
                         'searchValue' : value
                     },

                     success : function(retour)
                     {
                         $('#all').html(retour);

                     },
                 });
                 return false;
             });
         });
     </script>
     </script>


 {% endblock %}