{% extends 'base.html.twig' %}

{% block title %}Nouvel Avis{% endblock %}

{% block body %}
    <h1>Créer nouvel Avis</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_errors(form) }}
    {{ form_end(form) }}



{% endblock %}