{% extends 'base.html.twig' %}

{% block title %}Modifier Avis{% endblock %}

{% block body %}
    <h1>Modifier Avis</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}