<div class="travel-select-icon">
                                                   





                                                    


<select class="form-control ">
   {% for i in souscat %}
    <option >{{i.libelle}}</option>

   {% endfor %}

</select>

</div><!-- /.travel-select-icon -->
